<div [formGroup]="formGroup">
  <label for="typeInput">
    Country:
    <!-- multi select
      <ul *ngFor="let match of selectedMatches" style="list-style: none">
        <li>
          <span class="badge bg-primary">
            {{ match.name }}
            <i
            class="fa fa-times-circle"
            (click)="onDeleteSelected(match.id)"
            ></i>
          </span>
        </li>
      </ul>
    -->
  </label>
  <input
    id="typeInput"
    formControlName="country"
    [typeahead]="suggestions$"
    typeaheadOptionField="name"
    [typeaheadAsync]="true"
    class="form-control"
    placeholder="Enter your country"
    (typeaheadOnSelect)="onSelect($event)"
  />
  <!--
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <app-message-log></app-message-log>
  -->
</div>
